# Import libraries and data sets

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [68]:
#read csv while interpreting dates
covid = pd.read_csv('covid.csv', parse_dates=[0], infer_datetime_format=True)
covid.head()

,As of date,As of time,Countries/areas,Cumulative number of confirmed cases,Number of newly confirmed cases reported in the past 14 days,Cumulative number of deaths among confirmed cases,Remark
0,2020-03-26,10:00,Afghanistan,74,70.0,1,NaN
1,2020-03-26,10:00,Albania,146,144.0,5,NaN
2,2020-03-26,10:00,Algeria,264,247.0,17,NaN
3,2020-03-26,10:00,Andorra,188,187.0,1,NaN
4,2020-03-26,10:00,Angola,2,2.0,0,NaN

# Data cleaning

In [69]:
#drop useless columns
covid = covid.drop(columns = ['As of time', 'Number of newly confirmed cases reported in the past 14 days', 'Remark'])

In [70]:
#filter only rows with HK and US
HK = covid.loc[covid['Countries/areas'] == 'Hong Kong Special Administrative Region']
US = covid.loc[covid['Countries/areas'] == 'United States of America']

The following cells ask for input about region and return queried data

In [74]:
query = input()
region = covid.loc[covid['Countries/areas'] == query]

Honduras

In [76]:
len(region)

244

# Plotting